@using SeekerJob.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}

@{
    var table = ViewData["table"] as List<Login>;
}
@section _header{
    <link href="~/Areas/admin/Content/vendor_/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên tài khoản</th>
                    <th>Loại</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @{ var Number = 1;}
                @foreach (var item in table)
                {
                    <tr id="tr_@item.username" style="background-color: #fff; color: black;">
                        <td>@Html.Raw(Number++)</td>
                        <td>@Html.DisplayFor(modelItem => item.username)</td>
                        <td>@Html.DisplayFor(modelItem => item.typeRow)</td>
                        <td>

                            @if (item.status == true)
                            {
                                <p id="status_@item.username">On</p>
                            }
                            else
                            {
                                <p id="status_@item.username">Off</p>
                            }

                        </td>
                        <td>
                            <a href="javascript:@(item.typeRow == "Admin" ? "void(0)" : $"EditAccount('{item.username}', 'status_{item.username}')")"
                               title="@(item.typeRow == "Admin" ? "Không thể chỉnh sửa Admin" : "Sửa")"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               style="background-color: @(item.typeRow == "Admin" ? "gray" : "green"); color: white; padding: 8px 10px; text-decoration: none; border-radius: 4px; cursor: @(item.typeRow == "Admin" ? "not-allowed" : "pointer");">
                                <span class="far fa-edit"></span>
                            </a>
                        </td>
                    
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section _footer{
    <!-- Page level plugins -->
    <script src="~/Areas/admin/Content/vendor_/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/admin/Content/vendor_/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/Areas/admin/Content/js_/demo/datatables-demo.js"></script>

}
<script type="text/javascript">
        function EditAccount(username,statusid) {

            var user = username;
            var status = $('#' + statusid).text();
            console.log(status + "ne");


                var form = new FormData()
                form.append('user', user);
                form.append('status', status);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", '/Admin/Account/EditAccount', true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var content = xhr.responseText;
                        var json_ct = JSON.parse(content);
                        if (json_ct.Data.status == "OK") {
                            alert("Success");
                            $('#' + statusid).text(json_ct.Data.Type);

                        }
                        else {
                            alert("Error");
                        }
                    }
                }
                xhr.send(form);

            


    }




        function convertToMeta(text) {
            return text.toLowerCase().trim()
                .replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ|à/g, "a")
                .replace(/\s+/g, '-')
                .replace(/đ/g, "d")
                .replace(/ỳ|ý|ỵ|ỷ|ỹ|ỳ/g, "y")
                .replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ|ù/g, "u")
                .replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ|ò/g, "o")
                .replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ|è/g, "e")
                .replace(/ì|í|ị|ỉ|ĩ|ì/g, "i");
        }


</script>