@using SeekerJob.Models;
@{
    var listnewscandidate = ViewData["listnewscandidate"] as List<SeekerJob.DTO.NewsCandidate>;
    var listnewsemployer = ViewData["listnewsemployer"] as List<SeekerJob.DTO.NewsEmployee>;
    Login user = Session["admin"] as Login;

}
@section _header{
    <link href="~/Areas/admin/Content/vendor_/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}
<style>
    .custom-toltip-block {
        display: none;
        background-color: #fff; /* Nền trắng */
        color: #000; /* Chữ màu đen */
        padding: 5px; /* Khoảng cách bên trong tooltip */
        border-radius: 4px; /* Bo góc */
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Đổ bóng nhẹ */
        position: absolute;
        z-index: 10;
    }

    .custom-toltip:hover .custom-toltip-block {
        display: block; /* Hiển thị tooltip khi rê chuột */
    }
</style>
<div class="card shadow mb-4">

    <div class="card-header py-3">
        <a href="@Url.Action("Create")" class="custom-button">+ Thêm mới</a>
    </div>
</div>

<div class="card-body">
    <div class="table-responsive">

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Tiêu đề
                    </th>
                    <th>
                        Người đăng
                    </th>
                    <th>
                        Ngày đăng
                    </th>
                    <th>
                        Hành động
                    </th>
                </tr>
            </thead>


            @{var Number = 1; }
            @foreach (var item in listnewsemployer)
            {
                    <tr id="tr_@item.newsinfo.id">

                        <td>
                            @Html.Raw(Number++)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.newsinfo.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.inforEmployer.namecompany)
                        </td>
                        <td>
                            @string.Format("{0:dd/MM/yyyy}", item.newsinfo.daypost.Value)
                        </td>

                        <td>
                            <div class="twm-table-controls">
                                <ul class="twm-DT-controls-icon list-unstyled">
                                    <li>
                                        <a  href="@Url.Action("ViewNewsDetail", "news", new { id = item.newsinfo.id })"  class="custom-toltip">
                                            <span class="fa fa-eye"></span>
                                            <span class="custom-toltip-block">View</span>
                                        </a>
                                    </li>
                                    <li>
                                        @if (item.inforEmployer.username == user.username && user.username != "")
                                        {
                                        <li>
                                            <a href="@Url.Action("Edit", "news", new { id = item.newsinfo.id })" role="button" class="custom-toltip" data-modal="">
                                                <span class="fa fa-edit"></span>
                                                <span class="custom-toltip-block">Edit</span>
                                            </a>
                                        </li>
                                        }
                                        <li>
                                            <a data-bs-toggle="modal" href="javascript:Delete('@item.newsinfo.id')" role="button" class="custom-toltip">
                                                <span class="far fa-trash-alt"></span>
                                                <span class="custom-toltip-block">Delete</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                @foreach (var item in listnewscandidate)
                {

                    <tr id="tr_@item.newsinfo.id">

                        <td>
                            @Html.Raw(Number++)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.newsinfo.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.inforCandidate.name)
                        </td>
                        <td>
                            @string.Format("{0:dd/MM/yyyy}", item.newsinfo.daypost.Value)
                        </td>

                        <td>
                            <div class="twm-table-controls">
                                <ul class="twm-DT-controls-icon list-unstyled">
                                    <li>
                                        <a href="@Url.Action("ViewNewsDetail", "news", new { id = item.newsinfo.id })"  class="custom-toltip">
                                            <span class="fa fa-eye"></span>
                                            <span class="custom-toltip-block">View</span>
                                        </a>
                                    </li>
                                    @*<li>
                                    <a data-bs-toggle="modal" href="@Url.Action("Edit", "menus", new { id = item.newsinfo.id})" role="button" class="custom-toltip">
                                        <span class="fa fa-edit"></span>
                                        <span class="custom-toltip-block"></span>
                                    </a>
                                </li>*@
                                    <li>
                                        <a href="@Url.Action("Edit", "news", new { id = item.newsinfo.id })" role="button" class="custom-toltip" data-modal="">
                                            @Html.Raw("<span class=\"fa fa-edit\"></span><span class=\"custom-toltip-block\">Edit</span>")
                                        </a>
                                    </li>
                                    <li>
                                        <a  href="javascript:Delete('@item.newsinfo.id','@item.newsinfo.title')"  class="custom-toltip">
                                            <span class="far fa-trash-alt"></span>
                                            <span class="custom-toltip-block">Delete</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </table>
    </div>
</div>
</div>
@section _footer{
    <!-- Page level plugins -->
    <script src="~/Areas/admin/Content/vendor_/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/admin/Content/vendor_/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/Areas/admin/Content/js_/demo/datatables-demo.js"></script>
}
<script>
    function Delete(id,title) {
        if (confirm('Bạn có chắc muốn xóa tin tức này không: ' + title)) {
            var form = new FormData();
            form.append('id', id);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", domain + '/Admin/news/DeleteNews', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var content = xhr.responseText;
                    var json_ct = JSON.parse(content);
                    if (json_ct.Data.status == "OK") {
                        $('#tr_' +id ).remove();
                    }
                    else {
                        alert("Error");
                    }
                }
            }
            xhr.send(form);
        }
    }
</script>



