
@{
    ViewBag.Title = "ViewNewsDetail";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}


@using SeekerJob.Controllers
@using SeekerJob.DataSystem
@{
    var newsemployer = ViewData["newsemployer"] as SeekerJob.DTO.NewsEmployee;
    var newscandidate = ViewData["newscandidate"] as SeekerJob.DTO.NewsCandidate;
    var listemployee = ViewBag.infoemployee as List<SeekerJob.DTO.NewsEmployee>;
    var listcandidate = ViewBag.infocandidate as List<SeekerJob.DTO.NewsCandidate>;
    string relativeTime = null;

    if (newsemployer?.inforEmployer != null)
    {
        relativeTime = data.GetRelativeTime((DateTime)newsemployer.newsinfo.daypost);
    }
    else if (newscandidate?.inforCandidate != null)
    {
        relativeTime = data.GetRelativeTime((DateTime)newscandidate.newsinfo.daypost);
    }
    var viewbag = ViewBag.metacontroller;
}

<div>
@Html.ActionLink("Trở về", "Index")
</div>

@if (newsemployer?.inforEmployer != null)
{
    <div class="page-content">

        <div class=" bg-center" style="">
            <div class=""></div>
            <div class="container">
                <div class="">
                    <div class="">
                        <div class="banner-title-name">
                            <h2 class="wt-title">Tin Tức Chi Tiết</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="section-full  p-t120 p-b90 bg-white">
            <div class="container">

                <div class="section-content">
                    <div class="row d-flex justify-content-center">

                        <div class="col-lg-12 col-md-12">
                            <div class="blog-post-single-outer">
                                <div class="blog-post-single bg-white">

                                    <div class="wt-post-info">

                                        <div class="wt-post-media m-b30">
                                            <img style="width:100%; height:350px" src="~/ContentImage/images/@newsemployer.newsinfo.image" alt="">
                                        </div>

                                        <div class="wt-post-title ">
                                            <div class="wt-post-meta-list">
                                                <div class="wt-list-content post-date">@newsemployer.newsinfo.daypost</div>
                                                <div class="wt-list-content post-author">By @newsemployer.inforEmployer.username</div>
                                            </div>
                                            <h3 class="post-title">@newsemployer.newsinfo.title</h3>

                                        </div>

                                        <div class="wt-post-discription">

                                            @Html.Raw(newsemployer.newsinfo.description)

                                        </div>









                                    </div>



                                </div>






                            </div>
                        </div>

                     

                    </div>

                </div>

            </div>

        </div>


    </div>
}


@if (newscandidate?.inforCandidate != null)
{
    <div class="page-content">

        <div class=" bg-center" style="">
            <div class=""></div>
            <div class="container">
                <div class="">
                    <div class="">
                        <div class="banner-title-name">
                            <h2 class="wt-title">Tin Tức Chi Tiết</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="section-full  p-t120 p-b90 bg-white">
            <div class="container">

                <div class="section-content">
                    <div class="row d-flex justify-content-center">

                        <div class="col-lg-12 col-md-12">
                            <div class="blog-post-single-outer">
                                <div class="blog-post-single bg-white">

                                    <div class="wt-post-info">

                                        <div class="wt-post-media m-b30">
                                            <img style="width:100%; height:350px" src="~/ContentImage/images/@newscandidate.newsinfo.image" alt="">
                                        </div>

                                        <div class="wt-post-title ">
                                            <div class="wt-post-meta-list">
                                                <div class="wt-list-content post-date">@newscandidate.newsinfo.daypost</div>
                                                <div class="wt-list-content post-author">By @newscandidate.inforCandidate.username</div>
                                            </div>
                                            <h3 class="post-title">@newscandidate.newsinfo.title</h3>

                                        </div>

                                        <div class="wt-post-discription">

                                            @Html.Raw(newscandidate.newsinfo.description)

                                        </div>









                                    </div>



                                </div>






                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>
}
