@model IEnumerable<SeekerJob.tablemenufunction>


<div class="extra-nav header-2-nav">

    <div class="extra-cell">
        <div class="header-nav-btn-section">

            @foreach (var item in Model)
            {
                if (item.meta == "dang-nhap")
                {
                    <div class="twm-nav-btn-left">
                        <a style="background-color: rgb(4, 35, 108);" class="twm-nav-sign-up" data-bs-toggle="modal" href="@item.link" role="button">
                            <i data-feather="log-in"></i> @item.name
                        </a>
                    </div>
                    //# sign_up_popup
                }
                else if (item.meta == "dang-tuyen")
                {
                    <div class="twm-nav-btn-right">
                        <a href="@item.link" class="twm-nav-post-a-job">
                            <i data-feather="briefcase"></i> @item.name
                        </a>
                    </div>
                }
            }
            <div class="twm-nav-btn-right" style="margin-left: 50px;">
                <div class="has-children" id="menuToggle" style="cursor:pointer; width: 55px; height: 55px; border-radius: 50px; background-image: url('@Url.Content("~/ContentImage/images/goky.jpg")'); background-size: cover; background-position: center; border: 3px solid white; position: relative;">
                </div>
            </div>



        </div>
    </div>

</div>
