
@using SeekerJob.DTO;


@using SeekerJob.DataSystem


@{
    var table = ViewData["listjob"] as List<JobEmployerViewModel>;
}

<div class="col-lg-8 col-md-12">
    <!--Filter Short By-->


    <div class="twm-jobs-list-wrap">
        <table id="jobs_bookmark_table2" class="table table-bordered twm-candidate-save-job-list-wrap">

            <thead>
            <th>
            </th>
            </thead>
            <tbody>

                @foreach (var item in table)
                {
                    var relativeTime = data.GetRelativeTime((DateTime)item.Job.startday);
                    <tr>
                        <td>
                            <div class="twm-jobs-list-style1 mb-5">
                                <div class="twm-media">
                                    <img src="~/ContentImage/images/@item.Job.image" alt="#">
                                </div>
                                <div class="twm-mid-content">
                                    <a href="@item.Job.meta/@item.Job.id" class="twm-job-title">
                                        <h4>@item.Job.title<span class="twm-job-post-duration">/@relativeTime</span></h4>
                                    </a>
                                    <p class="twm-job-address">@item.Job.addressdetail</p>
                                    <a href="@item.InforEmployer.linkweb" class="twm-job-websites site-text-primary">@item.InforEmployer.linkweb</a>
                                </div>
                                <div class="twm-right-content">
                                    @if (@item.Job.jobcategory == EnumType.jobCategory.Fulltime.ToString())
                                    {
                                        <div class="twm-jobs-category green"><span class="twm-bg-green">@item.Job.jobcategory</span></div>

                                    }
                                    @if (@item.Job.jobcategory == EnumType.jobCategory.Parttime.ToString())
                                    {
                                        <div class="twm-jobs-category golden"><span class="twm-bg-golden">@item.Job.jobcategory</span></div>

                                    }
                                    @if (@item.Job.jobcategory == EnumType.jobCategory.Internship.ToString())
                                    {
                                        <div class="twm-jobs-category brown"><span class="twm-bg-brown">@item.Job.jobcategory</span></div>

                                    }
                                    @if (@item.Job.jobcategory == EnumType.jobCategory.Volunteer.ToString())
                                    {
                                        <div class="twm-jobs-category "><span class="twm-bg-candi-pattern">@item.Job.jobcategory</span></div>

                                    }
                                    @if (@item.Job.jobcategory == EnumType.jobCategory.Freelance.ToString())
                                    {
                                        <div class="twm-jobs-category purple"><span class="twm-bg-purple">@item.Job.jobcategory</span></div>

                                    }
                                    @if (@item.Job.jobcategory == EnumType.jobCategory.Temporary.ToString())
                                    {
                                        <div class="twm-jobs-category red"><span class="twm-bg-red">@item.Job.jobcategory</span></div>
                                    }
                                    <div class="twm-jobs-amount">@item.Job.offer <span>/ Month</span></div>
                                    <a href="@item.Job.meta/@item.Job.id" class="twm-jobs-browse site-text-primary">Browse Job</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>



</div>
