
@using SeekerJob.DTO;


@using SeekerJob.DataSystem


@{
    var table = ViewData["listjob"] as List<SeekerJob.DTO.JobEmployerViewModel>;
}

<div class="col-lg-8 col-md-12">
    <!--Filter Short By-->


    <div class="twm-jobs-list-wrap">
        <table id="jobs_bookmark_table2" class="table table-bordered twm-candidate-save-job-list-wrap">

            <thead>
            <th></th>
            </thead>
            <tbody>

                @foreach (var item in table)
                {
                    var relativeTime = data.GetRelativeTime((DateTime)item.Job.startday);
                    <tr>
                        <td>
                            <div class="twm-jobs-list-style1 mb-5">
                                <div class="twm-media">
                                    <img src="~/ContentImage/images/@item.Job.image" alt="#">
                                </div>
                                <div class="twm-mid-content">
                                    <a href="/@ViewBag.metacontroller/@item.Job.meta/@item.Job.id" class="twm-job-title">
                                        <h4 style="color: rgb(35, 168, 234);">@item.Job.title<span class="twm-job-post-duration">/@relativeTime</span></h4>
                                    </a>
                                    <p class="twm-job-address">@item.Job.addressdetail</p>
                                    <a href="@item.InforEmployer.linkweb" class="twm-job-websites site-text-primary">@item.InforEmployer.linkweb</a>
                                </div>
                                <div class="twm-right-content">
                                    @{
                                        var jobCategory = item.Job.jobcategory;
                                    }

                                    @if (jobCategory.Equals("Toàn thời gian"))
                                    {
                                        <div class="twm-jobs-category green">
                                            <span class="twm-bg-green">@jobCategory</span>
                                        </div>
                                    }
                                    else if (jobCategory.Equals("Bán thời gian"))
                                    {
                                        <div class="twm-jobs-category golden">
                                            <span class="twm-bg-golden">@jobCategory</span>
                                        </div>
                                    }
                                    else if (jobCategory.Equals("Thực tập"))
                                    {
                                        <div class="twm-jobs-category circle-yellow">
                                            <span class="twm-bg-brown">@jobCategory</span>
                                        </div>
                                    }
                                    else if (jobCategory.Equals("Tự do"))
                                    {
                                        <div class="twm-jobs-category purple">
                                            <span class="twm-bg-candi-pattern">@jobCategory</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <!-- Mặc định: Nếu không rơi vào trường hợp nào -->
                                        <div class="twm-jobs-category default">
                                            <span class="twm-bg-default">Danh mục không xác định</span>
                                        </div>
                                    }


                                    <div class="twm-jobs-amount">@item.Job.offer <span>/ Month</span></div>
                                    <a href="/@ViewBag.metacontroller/@item.Job.meta/@item.Job.id" class="twm-jobs-browse site-text-primary">Browse Job</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>



</div>
<script src="~/Scripts/js/jquery-3.6.0.min.js"></script>
<!-- JQUERY.MIN JS -->
<script src="~/Scripts/js/popper.min.js"></script>
<!-- POPPER.MIN JS -->
<script src="~/Scripts/js/bootstrap.min.js"></script>
<!-- BOOTSTRAP.MIN JS -->
<script src="~/Scripts/js/magnific-popup.min.js"></script>
<!-- MAGNIFIC-POPUP JS -->
<script src="~/Scripts/js/waypoints.min.js"></script>
<!-- WAYPOINTS JS -->
<script src="~/Scripts/js/counterup.min.js"></script>
<!-- COUNTERUP JS -->
<script src="~/Scripts/js/waypoints-sticky.min.js"></script>
<!-- STICKY HEADER -->
<script src="~/Scripts/js/isotope.pkgd.min.js"></script>
<!-- MASONRY  -->
<script src="~/Scripts/js/imagesloaded.pkgd.min.js"></script>
<!-- MASONRY  -->
<script src="~/Scripts/js/owl.carousel.min.js"></script>
<!-- OWL  SLIDER  -->
<script src="~/Scripts/js/theia-sticky-sidebar.js"></script>
<!-- STICKY SIDEBAR  -->
<script src="~/Scripts/js/lc_lightbox.lite.js"></script>
<!-- IMAGE POPUP -->
<script src="~/Scripts/js/bootstrap-select.min.js"></script>
<!-- Form js -->
<script src="~/Scripts/js/dropzone.js"></script>
<!-- IMAGE UPLOAD  -->
<script src="~/Scripts/js/jquery.scrollbar.js"></script>
<!-- scroller -->
<script src="~/Scripts/js/bootstrap-datepicker.js"></script>
<!-- scroller -->
<script src="~/Scripts/js/jquery.dataTables.min.js"></script>
<!-- Datatable -->
<script src="~/Scripts/js/dataTables.bootstrap5.min.js"></script>
<!-- Datatable -->
<script src="~/Scripts/js/chart.js"></script>
<!-- Chart -->
<script src="~/Scripts/js/bootstrap-slider.min.js"></script>
<!-- Price range slider -->
<script src="~/Scripts/js/swiper-bundle.min.js"></script>
<!-- Swiper JS -->
<script src="~/Scripts/js/custom.js"></script>
<!-- CUSTOM FUCTIONS  -->
<script src="~/Scripts/js/switcher.js"></script>
<script>
        $(document).ready(function() {
            // Khởi tạo DataTables một lần duy nhất
            var jobsBookmarkTable = $('#jobs_bookmark_table2').DataTable({
                "paging": true,
                "pageLength": 10,
                "lengthChange": false,
                "searching": true,
                "info": false,
                "autoWidth": false,
                "language": {
                    "paginate": {
                        "previous": "Trước",
                        "next": "Sau"
                    }
                }
            });
        });
</script>
