@using SeekerJob.Models
@{
    var tablemenus = ViewData["tablemenus"] as List<tablemenu>;
    var tablemenuparts = ViewData["tablemenuparts"] as List<tablemenupart>;
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}
@section _header{
    <link href="~/Areas/admin/Content/vendor_/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
<style>
    .custom-button {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: black;
        color: white;
        transition: background-color 0.3s ease; /* Smooth hover effect */
        padding: 10px 15px; /* Button padding */
        border-radius: 5px;
        text-decoration: none; /* Remove default link underline */
    }

        .custom-button:hover {
            background-color: #555555; /* Darker gray on hover */
            color: white;
            text-decoration: none; /* Remove default link underline */
        }

    .card-header {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: right; /*Align content to the right*/
    }
</style>
<!-- DataTales Example -->
@*<div class="card shadow mb-4">

    <div class="card-header py-3">
        <a href="@Url.Action("Create")" class="custom-button">+ Thêm mới</a>
    </div>
</div>*@

<div class="card-body">
    <div class="table-responsive">

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Tên menu
                    </th>
                    <th>
                        Liên kết
                    </th>
                    <th>
                        Meta
                    </th>
                    <th>
                        hide
                    </th>
                    <th>
                        Ngày chỉnh
                    </th>
                    <th></th>
                </tr>
            </thead>


            @{var Number = 1; }
            @foreach (var item in tablemenus)
            {

                <tr id="Mtr_@item.id" style="background-color: #f0f0f0; color: black;">

                    <td>
                        @Html.Raw(Number++)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.link)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.meta)
                    </td>
                    <td>
                        @if (item.hide == true)
                        {
                            <p id="Mstatus_@item.id">True</p>
                        }
                        else
                        {
                            <p id="Mstatus_@item.id">False</p>
                        }
                    </td>
                    <td>
                        @string.Format("{0:dd/MM/yyyy}", item.datebegin.Value)
                    </td>
                    <td>

                        @*<button title="Sửa" data-bs-toggle="tooltip" data-bs-placement="top" style="background-color: green; color: white;">
                        <span class="far fa-edit"></span>
                    </button>*@

                        <a href="javascript:@(item.name == "Admin" ? "void(0)" : $"EditMenus('{item.id}', 'Mstatus_{item.id}')")"
                           title="@(item.name == "Admin" ? "Không thể chỉnh sửa Admin" : "Sửa")"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           style="background-color: @(item.name == "Admin" ? "gray" : "green"); color: white; padding: 8px 10px; text-decoration: none; border-radius: 4px; cursor: @(item.name == "Admin" ? "not-allowed" : "pointer");">
                            <span class="far fa-edit"></span>
                        </a>
                    </td>
                </tr>
                if (tablemenuparts.Any(p => p.idtable == item.id))
                {
                    foreach (var part in tablemenuparts.Where(p => p.idtable == item.id).OrderBy(p => p.arrange))
                    {
                        <tr id="Ptr_@part.id">

                            <td>
                                @Html.Raw(Number++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => part.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => part.link)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => part.meta)
                            </td>
                            @*<td>





                            @Html.DropDownListFor(modelItem => part.hide, new List<SelectListItem>
                             {
                                 new SelectListItem { Text = "True", Value = "True", Selected = part.hide == true },
                                 new SelectListItem { Text = "False", Value = "False", Selected = part.hide == false }
                             }, new { @class = "form-control" })
                            </td>*@
                        <td>
                            @if (part.hide == true)
                            {
                                <p id="Pstatus_@part.id">True</p>
                            }
                            else
                            {
                                <p id="Pstatus_@part.id">False</p>
                            }
                        </td>
                            <td>
                                @string.Format("{0:dd/MM/yyyy}", part.datebegin.Value)
                            </td>
                            <td>

                                @*<a href="@Url.Action("Edit", "menus", new { id = part.id }) "
                               title="Sửa"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               style="background-color: green; color: white; padding: 8px 10px; text-decoration: none; border-radius: 4px; ">
                                <span class="far fa-edit"></span>
                            </a>*@
                                <a href="javascript:@(part.name == "Admin" ? "void(0)" : $"EditMenusPart('{part.id}', 'Pstatus_{part.id}')")"
                                   title="@(part.name == "Admin" ? "Không thể chỉnh sửa Admin" : "Sửa")"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   style="background-color: @(part.name == "Admin" ? "gray" : "green"); color: white; padding: 8px 10px; text-decoration: none; border-radius: 4px; cursor: @(part.name == "Admin" ? "not-allowed" : "pointer");">
                                    <span class="far fa-edit"></span>
                                </a>

                            </td>
                        </tr>
                    }
                }
            }

        </table>
    </div>
</div>
</div>
@section _footer{
    <!-- Page level plugins -->
    <script src="~/Areas/admin/Content/vendor_/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/admin/Content/vendor_/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/Areas/admin/Content/js_/demo/datatables-demo.js"></script>
}
<script type="text/javascript">
    function EditMenusPart(id,statusId) {

        var id = id;
        var status = $('#' + statusId).text();
        console.log(status + "ne");


        var form = new FormData()
        form.append('id', id);
        form.append('status', status);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/Admin/menus/EditMenusPart', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var json_ct = JSON.parse(content);
                if (json_ct.Data.status == "OK") {
                    alert("Success");
                    $('#Pstatus_' +id).text(json_ct.Data.Type);

                }
                else {
                    alert("Error");
                }
            }
        }
        xhr.send(form);




    }




    function convertToMeta(text) {
        return text.toLowerCase().trim()
            .replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ|à/g, "a")
            .replace(/\s+/g, '-')
            .replace(/đ/g, "d")
            .replace(/ỳ|ý|ỵ|ỷ|ỹ|ỳ/g, "y")
            .replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ|ù/g, "u")
            .replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ|ò/g, "o")
            .replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ|è/g, "e")
            .replace(/ì|í|ị|ỉ|ĩ|ì/g, "i");
    }


</script>

<script type="text/javascript">
    function EditMenus(id, statusId) {

        var id = id;
        var status = $('#' + statusId).text();
        console.log(status + "ne");


        var form = new FormData()
        form.append('id', id);
        form.append('status', status);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/Admin/menus/EditMenus', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var json_ct = JSON.parse(content);
                if (json_ct.Data.status == "OK") {
                    alert("Success");
                    $('#Mstatus_' + id).text(json_ct.Data.Type);

                }
                else {
                    alert("Error");
                }
            }
        }
        xhr.send(form);




    }




    function convertToMeta(text) {
        return text.toLowerCase().trim()
            .replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ|à/g, "a")
            .replace(/\s+/g, '-')
            .replace(/đ/g, "d")
            .replace(/ỳ|ý|ỵ|ỷ|ỹ|ỳ/g, "y")
            .replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ|ù/g, "u")
            .replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ|ò/g, "o")
            .replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ|è/g, "e")
            .replace(/ì|í|ị|ỉ|ĩ|ì/g, "i");
    }


</script>
