
@{ 
    var listnewscandidate = ViewData["listnewscandidate"] as List<SeekerJob.DTO.NewsCandidate> ;
    var listnewsemployer = ViewData["listnewsemployer"] as List<SeekerJob.DTO.NewsEmployee> ;

}



<div class="col-xl-9 col-lg-8 col-md-12 m-b30">
    <!--Filter Short By-->
    <div class="twm-right-section-panel candidate-save-job " style="background-color:white">
        <div class="twm-D_table table-responsive">
            <table id="jobs_bookmark_table" class="table table-bordered twm-candidate-save-job-list-wrap">
                <thead>
                    <tr>
                        <th>Tiêu đề tin tức</th>
                        <th>Người đăng</th>
                        <th>Ngày</th>
                        <th>Hành động</th>

                    </tr>
                </thead>
                <tbody>
                    <!--1-->
                    @foreach (var item in listnewsemployer)
                    {
                        <tr>
                            <td>
                                <div class="twm-candidate-save-job-list">
                                    <div class="twm-media">
                                        <div class="twm-media-pic">
                                            <img src="~/ContentImage/images/jobs-company/@item.newsinfo.image" alt="#">
                                        </div>
                                    </div>
                                    <div class="twm-mid-content">
                                        <a href="#" class="twm-job-title">
                                            <h4>@item.newsinfo.title</h4>
                                        </a>

                                    </div>

                                </div>
                            </td>
                            <td>
                                <div>@item.inforEmployer.namecompany</div>
                            </td>
                            <td>
                                <div>@item.newsinfo.daypost.Value.ToString("dd/MM/yyyy")</div>
                            </td>

                            <td>
                                <div class="twm-table-controls">
                                    <ul class="twm-DT-controls-icon list-unstyled">
                                        <li>
                                            <a data-bs-toggle="modal" href="@ViewBag.tintuc/@item.newsinfo.meta/@item.newsinfo.id" role="button" class="custom-toltip">
                                                <span class="fa fa-eye"></span>
                                                <span class="custom-toltip-block">Veiw</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-bs-toggle="modal" href="@ViewBag.suatintuc/@item.newsinfo.meta/@item.newsinfo.id" role="button" class="custom-toltip">
                                                <span class="fa fa-edit"></span>
                                                <span class="custom-toltip-block">Edit</span>
                                            </a>
                                        </li>
                                        <li>
                                            <button title="Delete" data-bs-toggle="tooltip" data-bs-placement="top">
                                                <span class="far fa-trash-alt"></span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }

                    @foreach (var item in listnewscandidate)
                    {
                        <tr>
                            <td>
                                <div class="twm-candidate-save-job-list">
                                    <div class="twm-media">
                                        <div class="twm-media-pic">
                                            <img src="~/ContentImage/images/jobs-company/@item.newsinfo.image" alt="#">
                                        </div>
                                    </div>
                                    <div class="twm-mid-content">
                                        <a href="#" class="twm-job-title">
                                            <h4>@item.newsinfo.title</h4>
                                        </a>

                                    </div>

                                </div>
                            </td>
                            <td>
                                <div>@item.inforCandidate.name</div>
                            </td>
                            <td>
                                <div>@item.newsinfo.daypost.Value.ToString("dd/MM/yyyy")</div>
                            </td>

                            <td>
                                <div class="twm-table-controls">
                                    <ul class="twm-DT-controls-icon list-unstyled">
                                        <li>
                                            <a href="@ViewBag.tintuc/@item.newsinfo.meta/@item.newsinfo.id" class="custom-toltip">
                                                <span class="fa fa-eye"></span>
                                                <span class="custom-toltip-block">Veiw</span>
                                            </a>    
                                        </li>
                                        <li>
                                            <a  href="@ViewBag.suatintuc/@item.newsinfo.meta/@item.newsinfo.id"  class="custom-toltip">
                                                <span class="fa fa-edit"></span>
                                                <span class="custom-toltip-block">Edit</span>
                                            </a>
                                        </li>
                                        <li>
                                            <button title="Delete" data-bs-toggle="tooltip" data-bs-placement="top">
                                                <span class="far fa-trash-alt"></span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }


                </tbody>

            </table>
        </div>
    </div>
</div>
