
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
    SeekerJob.Models.AddCV inforcv = ViewBag.cv as SeekerJob.Models.AddCV;

}

@*<h2>Edit</h2>*@



@*@using SeekerJob.Models;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
    var inforcv = ViewBag.cv;

}*@
<div>
    <input id="id" value="@inforcv.id" style="display:none;">
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-red">
            <div class="panel-heading">
                Thêm mới CV
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form>
                    <!--Basic Information-->
                    <div class="panel panel-default">
                        <div class="panel-heading wt-panel-heading p-a20">
                            <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i>Thêm CV</h4>
                        </div>
                        <div class="panel-body wt-panel-body p-a20 m-b30 ">

                            <div class="row">
                                <!--Job title-->
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Tiêu đề chính</label>
                                        <div class="ls-inputicon-box">
                                            <input id="tieude" class="form-control" name="company_name" type="text" placeholder="Devid Smith" value="@inforcv.tilteBig">
                                            <i class="fs-input-icon fa fa-newspaper"></i>
                                        </div>
                                        <p id="mstieude" style="padding:2px;display:none; color:aliceblue"></p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Tiêu đề phụ</label>
                                        <div class="ls-inputicon-box">
                                            <input id="short" class="form-control" name="company_short" type="text" placeholder="short brief" value="@inforcv.titleMall">
                                            <i class="fs-input-icon fa fa-hacker-news-square"></i>
                                        </div>
                                        <p id="msnoidung" style="padding:2px;display:none; color:aliceblue"></p>
                                    </div>
                                </div>
                                @if (inforcv.typeCv == "Tiêu chuẩn")
                                {
                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <label>Mã CV</label>
                                            <div class="ls-inputicon-box">
                                                <input id="link" class="form-control" name="company_Email" placeholder="#cv1_up_popup/242814337652458" value="@inforcv.meta">
                                                <i class="fs-input-icon fas fa-id-badge"></i>
                                            </div>
                                            <p id="msmeta" style="padding:2px;display:none; color:aliceblue"></p>

                                        </div>
                                    </div>

                                }

                                <div class="col-md-4">
                                    <div class="twm-candidate-profile-pic">
                                        <label>Ảnh bìa</label>
                                        @inforcv.image
                                        <img src="~/ContentImage/images/blog/blog-single/1.jpg" alt="">
                                        <div class="upload-btn-wrapper">

                                            <div id="upload-image-grid"></div>
                                            <button class="site-button button-sm">Tải ảnh lên</button>
                                            <input type="file" name="myfile" id="file-uploader" accept=".jpg, .jpeg, .png">
                                        </div>

                                    </div>
                                    <p id="msanh" style="padding:2px;display:none; color:aliceblue"></p>
                                </div>



                                <!--Start Date-->
                                <!--End Date-->


                                <div class="col-lg-12 col-md-12">
                                    <div class="text-left">
                                        <div onclick="AddCV()" class="site-button m-r5">Sửa CV</div>
                                    </div>
                                </div>




                            </div>

                        </div>
                    </div>
                </form>
                <div>
                    @Html.ActionLink("Trở lại", "Index")
                </div>
            </div>
        </div>
    </div>
</div>
@section _Footer
{
    <script src="~/Areas/admin/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/admin/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        //customConfig: '/Areas/admin/Content/ckeditor/config.js';
    </script>

}


@section scripts
    {
    <script>
        CKEDITOR.replace("editor");
    </script>
}
<script type="text/javascript">
        function AddCV() {

            var tieude = $('#tieude').val();
            var noidung = $('#short').val();
            var meta = $('#link').val();
            //var phone = $('#phone').val();
            var anh = $('#file-uploader')[0].files[0];


           flag = true
        if (tieude=='') {
            $('#mstieude').html('Phải nhập đủ tất cả thông tin tiêu đề');
            $('#mstieude').css('border-color', 'red');
            $('#mstieude').css('color', 'red');
            $('#mstieude').css('display', 'block');
            flag = false
        }
        if (noidung=='') {
            $('#msnoidung').html('Phải nhập đủ tất cả thông tin nội dung');
            $('#msnoidung').css('border-color', 'red');
            $('#msnoidung').css('color', 'red');
            $('#msnoidung').css('display', 'block');
            flag = false
        }
            if (meta == '') {
                $('#msmeta').html('Phải nhập đủ tất cả thông tin nội dung');
                $('#msmeta').css('border-color', 'red');
                $('#msmeta').css('color', 'red');
                $('#msmeta').css('display', 'block');
                flag = false
            }
        if (!anh) {
            $('#msanh').html('Phải chọn ảnh');
            $('#msanh').css('border-color', 'red');
            $('#msanh').css('color', 'red');
            $('#msanh').css('display', 'block');
            flag = false
        }
            if (flag) {


                var form = new FormData()
                form.append('meta', meta);
                form.append('tieude', tieude);
                form.append('noidung', noidung);
                form.append('anh', anh);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", '/CV/CreateCV', true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var content = xhr.responseText;
                        var json_ct = JSON.parse(content);
                        if (json_ct.Data.status == "OK") {
                            alert("Success");
                        }
                        else {
                            alert("Error");
                        }
                    }
                }
                xhr.send(form);

            }


    }

    function SendNewsData( mota, tieude, noidung, email, phone, day, meta, anh)
    {
        var form = new FormData()
        form.append('mota', mota);
        form.append('tieude', tieude);
        form.append('noidung', noidung);
        form.append('email', email);
        form.append('phone', phone);
        form.append('day', day);
        form.append('meta', meta);
        form.append('anh', anh);
        var xhr = new XMLHttpRequest();
        var domain = '@Request.Url.Scheme://@Request.Url.Host:@Request.Url.Port';
        xhr.open("POST",'/news/testnews', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var json_ct = JSON.parse(content);
                if (json_ct.Data.status == "OK") {
                    alert("Success");
                }
                else {
                    alert("Error");
                }
            }
        }
        xhr.send(form);

    }


        function convertToMeta(text) {
            return text.toLowerCase().trim()
                .replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ|à/g, "a")
                .replace(/\s+/g, '-')
                .replace(/đ/g, "d")
                .replace(/ỳ|ý|ỵ|ỷ|ỹ|ỳ/g, "y")
                .replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ|ù/g, "u")
                .replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ|ò/g, "o")
                .replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ|è/g, "e")
                .replace(/ì|í|ị|ỉ|ĩ|ì/g, "i");
        }


</script>