@using SeekerJob.DataSystem

@{
    var table = ViewData["applyjob"] as List<SeekerJob.DTO.JobApplicationViewModel>;
}


<div class="col-xl-9 col-lg-8 col-md-12 m-b30">
    <div class="twm-right-section-panel site-bg-gray">
        <form>
            <div class="panel panel-default">
                <div class="panel-heading wt-panel-heading p-a20" style="background-color: rgba(168, 168, 172, 0.17) !important;">
                    <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i>Quản Lý Công Việc</h4>
                </div>
                <div class="panel-body wt-panel-body m-b30 " style="background-color: rgba(168, 168, 172, 0.17) !important;">
                    <div class="twm-D_table p-a20 table-responsive">
                        <table id="jobs_bookmark_table" class="table table-bordered twm-bookmark-list-wrap">
                            <thead>
                                <tr>
                                    <th>Tiêu Đề</th>
                                    <th>Lương</th>
                                    <th>Ngày Đăng</th>
                                    <th>Loại công việc</th>
                                    <th>Số Lượng</th>
                                    <th>Hành Động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in table)
                                {
                                    <tr>
                                        <td>
                                            <div class="twm-bookmark-list">
                                                <div class="twm-mid-content">
                                                    <h4>@item.Title</h4>
                                                    <p class="twm-bookmark-address">
                                                        <i data-feather="map-pin"></i>@item.Address
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@item.Offer</td>
                                        <td>@item.StartDay.Value.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            @if (@item.JobCategory == EnumType.jobCategory.Fulltime.ToString())
                                            {
                                                <div class="twm-jobs-category green"><span class="twm-bg-green">@item.JobCategory</span></div>

                                            }
                                            @if (@item.JobCategory == EnumType.jobCategory.Parttime.ToString())
                                            {
                                                <div class="twm-jobs-category golden"><span class="twm-bg-golden">@item.JobCategory</span></div>

                                            }
                                            @if (@item.JobCategory == EnumType.jobCategory.Internship.ToString())
                                            {
                                                <div class="twm-jobs-category brown"><span class="twm-bg-brown">@item.JobCategory</span></div>

                                            }
                                            @if (@item.JobCategory == EnumType.jobCategory.Volunteer.ToString())
                                            {
                                                <div class="twm-jobs-category "><span class="twm-bg-candi-pattern">@item.JobCategory</span></div>

                                            }
                                            @if (@item.JobCategory == EnumType.jobCategory.Freelance.ToString())
                                            {
                                                <div class="twm-jobs-category purple"><span class="twm-bg-purple">@item.JobCategory</span></div>

                                            }
                                            @if (@item.JobCategory == EnumType.jobCategory.Temporary.ToString())
                                            {
                                                <div class="twm-jobs-category red"><span class="twm-bg-red">@item.JobCategory</span></div>
                                            }
                                        </td>
                                        <td><a class="twm-nav-sign-up" data-bs-toggle="modal" href="/#sign_up_popup2" role="button">@item.CandidateCount Applied</a></td>
                                        <td>
                                            <div class="twm-table-controls">
                                                <ul class="twm-DT-controls-icon list-unstyled">
                                                    <li>
                                                        <a href="/chi-tiet-viec-lam/@item.meta/@item.IdJob" class="custom-toltip">
                                                            <span class="fa fa-eye"></span>
                                                            <span class="custom-toltip-block">Veiw</span>
                                                        </a>

                                                    </li>
                                                    <li>
                                                        <a href="/sua-viec-lam/@item.meta/@item.IdJob" class="custom-toltip">
                                                            <span class="fa fa-edit"></span>
                                                            <span class="custom-toltip-block">Edit</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <button title="Delete" data-bs-toggle="tooltip" data-bs-placement="top">
                                                            <span class="far fa-trash-alt"></span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

