@using SeekerJob.Models
@{
    var table = ViewData["list"] as List<tablebanner>;
}

<div class="twm-nav-list-1">
    <ul>
        <ul>
            @foreach (var item in table)
            {
                if (item.meta == "Doi-mat-khau-ung-tuyen")
                {
                    <li class="@item.active"><a href="@item.meta"><i class="@item.icon"></i> @item.name</a></li>
                }
                else
                {
                    <li><a href="@item.meta"><i class="@item.icon"></i> @item.name</a></li>
                }
            }
        </ul>

    </ul>
</div>

