<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>
    <!-- Bootstrap Core CSS -->

    <link href="/Areas/admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/Areas/admin/Content/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Areas/admin/Content/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/Areas/admin/Content/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Areas/admin/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/scripts/jquery-3.4.1.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM33HHsHq9smZQTB4E5p4Q1hv0sSMw5VKTJaRlz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"></script>
    <script>
             var domain = '@Request.Url.Scheme://@Request.Url.Host:@Request.Url.Port';

    </script>
    <script src="~/plugin/ckfinder/ckfinder.js"></script>
    <script src="~/plugin/ckeditor/ckeditor.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <!-- MAIN STYLE SHEET -->
    <!-- THEME COLOR CHANGE STYLE SHEET -->
    <link rel="stylesheet" class="skin" type="text/css" href="~/Content/css/skins-type/skin-10.css">
    <!-- SIDE SWITCHER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/switcher.css">
</head>
<style>
    .custom-button {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: black;
        color: white;
        transition: background-color 0.3s ease; /* Smooth hover effect */
        padding: 10px 15px; /* Button padding */
        border-radius: 5px;
        text-decoration: none; /* Remove default link underline */
    }

        .custom-button:hover {
            background-color: #555555; /* Darker gray on hover */
            color: white;
            text-decoration: none; /* Remove default link underline */
        }

    .card-header {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: right; /*Align content to the right*/
    }
</style>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Xin chào!</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">

                <li class="">

                    <a class="" href="/trang-chu">
                        <i class="fa fa-home fa-fw"></i>
                    </a>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@Url.Action("Index","menus") "><i class="fa fa-dashboard fa-fw"></i> Quản lý Menu</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","BannerAndTitle") "><i class="fa fa-table fa-fw"></i> Quản lý Banner và tiêu đề</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","news") "><i class="fa fa-th-list fa-fw"></i> Quản lý tin tức</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","ListJob") "><i class="fa fa-th-list fa-fw"></i> Quản lý bài tuyển dụng</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Account") "><i class="fa fa-th-list fa-fw"></i> Quản lý tài khoản</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","CV") "><i class="fa fa-th-list fa-fw"></i> Quản lý CV</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Advertise") "><i class="fa fa-th-list fa-fw"></i> Quản lý quảng cáo</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/Areas/admin/Content/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Areas/admin/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Areas/admin/Content/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="/Areas/admin/Content/vendor/raphael/raphael.min.js"></script>
    <script src="/Areas/admin/Content/vendor/morrisjs/morris.min.js"></script>
    <script src="/Areas/admin/Content/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Areas/admin/Content/dist/js/sb-admin-2.js"></script>
    @RenderSection("_Header", false);
    @RenderSection("_Footer", false);
    <script src="~/Scripts/js/jquery-3.6.0.min.js "></script>
    <script src="~/Scripts/js/jquery-3.6.0.min.js "></script>
    <!-- JQUERY.MIN JS -->
    <script src="~/Scripts/js/popper.min.js "></script>
    <!-- POPPER.MIN JS -->
    <script src="~/Scripts/js/bootstrap.min.js "></script>
    <!-- BOOTSTRAP.MIN JS -->
    <script src="~/Scripts/js/magnific-popup.min.js "></script>
    <!-- MAGNIFIC-POPUP JS -->
    <script src="~/Scripts/js/waypoints.min.js "></script>
    <!-- WAYPOINTS JS -->
    <script src="~/Scripts/js/counterup.min.js "></script>
    <!-- COUNTERUP JS -->
    <script src="~/Scripts/js/waypoints-sticky.min.js "></script>
    <!-- STICKY HEADER -->
    <script src="~/Scripts/js/isotope.pkgd.min.js "></script>
    <!-- MASONRY  -->
    <script src="~/Scripts/js/imagesloaded.pkgd.min.js "></script>
    <!-- MASONRY  -->
    <script src="~/Scripts/js/owl.carousel.min.js "></script>
    <!-- OWL  SLIDER  -->
    <script src="~/Scripts/js/theia-sticky-sidebar.js "></script>
    <!-- STICKY SIDEBAR  -->
    <script src="~/Scripts/js/lc_lightbox.lite.js "></script>
    <!-- IMAGE POPUP -->
    <script src="~/Scripts/js/bootstrap-select.min.js "></script>
    <!-- Form js -->
    <script src="~/Scripts/js/dropzone.js "></script>
    <!-- IMAGE UPLOAD  -->
    <script src="~/Scripts/js/jquery.scrollbar.js "></script>
    <!-- scroller -->
    <script src="~/Scripts/js/bootstrap-datepicker.js "></script>
    <!-- scroller -->
    <script src="~/Scripts/js/jquery.dataTables.min.js "></script>
    <!-- Datatable -->
    <script src="~/Scripts/js/dataTables.bootstrap5.min.js "></script>
    <!-- Datatable -->
    <script src="~/Scripts/js/chart.js "></script>
    <!-- Chart -->
    <script src="~/Scripts/js/anm.js "></script>
    <script src="~/Scripts/js/bootstrap-slider.min.js "></script>
    <!-- Price range slider -->
    <script src="~/Scripts/js/swiper-bundle.min.js "></script>
    <!-- Swiper JS -->
    <script src="~/Scripts/js/custom.js "></script>
    <!-- CUSTOM FUCTIONS  -->
    <script src="~/Scripts/js/switcher.js "></script>
    <!-- SHORTCODE FUCTIONS  -->





</body>
</html>
<script>
    function downloadCV(cvId) {
        var element = document.getElementById(cvId);
        if (element) {
            html2pdf().from(element).save(cvId + '.pdf');
        }
    }

    function loadAvatar(event, avatarId) {
        var avatar = document.getElementById(avatarId);
        if (avatar) {
            avatar.src = URL.createObjectURL(event.target.files[0]);
        }
    }


    for (let i = 1; i <= 6; i++) {
        let cvId = 'cv' + i; // luôn thêm số i vào sau cv
        let popupId = 'cv' + i + '_up_popup';

        let button = document.querySelector('#' + popupId + ' .site-button');
        if (button) {
            button.addEventListener('click', function () {
                downloadCV(cvId); // gọi đúng id
            });
        }
    }
</script>
@RenderSection("scripts", required: false)

