
@model SeekerJob.Models.InforEmployer



<div class="col-xl-9 col-lg-8 col-md-12 m-b30">
    <!--Filter Short By-->
    <div class="twm-right-section-panel site-bg-gray">
        <form>


            <!--Basic Information-->
            <div class="panel panel-default">
                <div class="panel-heading wt-panel-heading p-a20">
                    <h4 class="panel-tittle m-a0">Hồ sơ công ty</h4>
                </div>
                <div class="panel-body wt-panel-body p-a20 m-b30 ">

                    <div class="row">

                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Tên công ty</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" name="company_name" type="text" value="@Model.namecompany" placeholder="tên công ty">
                                    <i class="fs-input-icon fa fa-building"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Điện thoại</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" name="company_phone" type="text" value="@Model.phone" placeholder="(251) 1234-456-7890">
                                    <i class="fs-input-icon fa fa-phone-alt"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Mail</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" name="company_Email" type="email" value="@Model.email" placeholder="Devid@example.com">
                                    <i class="fs-input-icon fas fa-at"></i>
                                </div>
                            </div>
                        </div>



                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Tỉnh/ Thành phố</label>
                                <div class="ls-inputicon-box">
                                    <select class="wt-select-box selectpicker" data-live-search="true" title="" id="country" data-bv-field="size">
                                        <option  value="@Model.adrress" selected>@Model.adrress</option>

                                        <option value="An Giang">An Giang</option>
                                        <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                                        <option value="Bạc Liêu">Bạc Liêu</option>
                                        <option value="Bắc Giang">Bắc Giang</option>
                                        <option value="Bắc Kạn">Bắc Kạn</option>
                                        <option value="Bắc Ninh">Bắc Ninh</option>
                                        <option value="Bến Tre">Bến Tre</option>
                                        <option value="Bình Dương">Bình Dương</option>
                                        <option value="Bình Định">Bình Định</option>
                                        <option value="Bình Phước">Bình Phước</option>
                                        <option value="Bình Thuận">Bình Thuận</option>
                                        <option value="Cà Mau">Cà Mau</option>
                                        <option value="Cao Bằng">Cao Bằng</option>
                                        <option value="Cần Thơ">Cần Thơ</option>
                                        <option value="Đà Nẵng">Đà Nẵng</option>
                                        <option value="Đắk Lắk">Đắk Lắk</option>
                                        <option value="Đắk Nông">Đắk Nông</option>
                                        <option value="Điện Biên">Điện Biên</option>
                                        <option value="Đồng Nai">Đồng Nai</option>
                                        <option value="Đồng Tháp">Đồng Tháp</option>
                                        <option value="Gia Lai">Gia Lai</option>
                                        <option value="Hà Giang">Hà Giang</option>
                                        <option value="Hà Nam">Hà Nam</option>
                                        <option value="Hà Nội">Hà Nội</option>
                                        <option value="Hà Tĩnh">Hà Tĩnh</option>
                                        <option value="Hải Dương">Hải Dương</option>
                                        <option value="Hải Phòng">Hải Phòng</option>
                                        <option value="Hậu Giang">Hậu Giang</option>
                                        <option value="Hòa Bình">Hòa Bình</option>
                                        <option value="Hưng Yên">Hưng Yên</option>
                                        <option value="Khánh Hòa">Khánh Hòa</option>
                                        <option value="Kiên Giang">Kiên Giang</option>
                                        <option value="Kon Tum">Kon Tum</option>
                                        <option value="Lai Châu">Lai Châu</option>
                                        <option value="Lâm Đồng">Lâm Đồng</option>
                                        <option value="Lạng Sơn">Lạng Sơn</option>
                                        <option value="Lào Cai">Lào Cai</option>
                                        <option value="Long An">Long An</option>
                                        <option value="Nam Định">Nam Định</option>
                                        <option value="Nghệ An">Nghệ An</option>
                                        <option value="Ninh Bình">Ninh Bình</option>
                                        <option value="Ninh Thuận">Ninh Thuận</option>
                                        <option value="Phú Thọ">Phú Thọ</option>
                                        <option value="Phú Yên">Phú Yên</option>
                                        <option value="Quảng Bình">Quảng Bình</option>
                                        <option value="Quảng Nam">Quảng Nam</option>
                                        <option value="Quảng Ngãi">Quảng Ngãi</option>
                                        <option value="Quảng Ninh">Quảng Ninh</option>
                                        <option value="Quảng Trị">Quảng Trị</option>
                                        <option value="Sóc Trăng">Sóc Trăng</option>
                                        <option value="Sơn La">Sơn La</option>
                                        <option value="Tây Ninh">Tây Ninh</option>
                                        <option value="Thái Bình">Thái Bình</option>
                                        <option value="Thái Nguyên">Thái Nguyên</option>
                                        <option value="Thanh Hóa">Thanh Hóa</option>
                                        <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                                        <option value="Tiền Giang">Tiền Giang</option>
                                        <option value="TP. Hồ Chí Minh">TP. Hồ Chí Minh</option>
                                        <option value="Trà Vinh">Trà Vinh</option>
                                        <option value="Tuyên Quang">Tuyên Quang</option>
                                        <option value="Vĩnh Long">Vĩnh Long</option>
                                        <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                                        <option value="Yên Bái">Yên Bái</option>
                                    </select>
                                    <p id="ms" style="color:red;"></p>

                                    <i class="fs-input-icon fa fa-globe-americas"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="form-group city-outer-bx has-feedback">
                                <label>Địa chỉ đầy đủ</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" name="company_since" type="text" value="@Model.addressDetail" placeholder="Sunset Blvd Angeles, CA 90026 ,USA">
                                    <i class="fs-input-icon fas fa-map-marker-alt"></i>
                                </div>

                            </div>
                        </div>





                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea class="form-control" name="content" id="editor" rows="3" placeholder="Xin chào! Chúng tôi là Công ty Phát triển Phần mềm Galaxy. Chúng tôi hy vọng bạn sẽ hài lòng với dịch vụ và chất lượng của chúng tôi.">@Model.description</textarea>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!--Social Network-->
            <div class="panel panel-default">
                <div class="panel-heading wt-panel-heading p-a20">
                    <h4 class="panel-tittle m-a0">Mạng xã hội</h4>
                </div>
                <div class="panel-body wt-panel-body p-a20">

                    <div class="row">

                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Facebook</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control wt-form-control" name="company_name" type="text" value="@Model.facebook" placeholder="https://www.facebook.com/">
                                    <i class="fs-input-icon fab fa-facebook-f"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Twitter</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control wt-form-control" name="company_name" type="text" value="@Model.twitter" placeholder="https://twitter.com/">
                                    <i class="fs-input-icon fab fa-twitter"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>linkedin</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control wt-form-control" name="company_name" type="text"  value="@Model.linkedin" placeholder="https://in.linkedin.com/">
                                    <i class="fs-input-icon fab fa-linkedin-in"></i>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Instagram</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control wt-form-control" name="company_name" type="text" value="@Model.instagram" placeholder="https://www.instagram.com/">
                                    <i class="fs-input-icon fab fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Website</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" name="company_website" type="text" value="@Model.linkweb" placeholder="https://devsmith.net">
                                    <i class="fs-input-icon fa fa-globe-americas"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="text-left">
                                <button type="submit" class="site-button">Lưu thay đổi</button>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </form>
    </div>
</div>